*,
html {
  margin: 0;
  padding: 0;
}

/* navigate bar */
.navbar {
  width: 100%;

  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 100%;
  color: black;
  font-weight: bolder;
  background-color: #ffffff;
  position: fixed;
  z-index: 1;
  box-shadow: -25px 0px 60px #000033;
}

.navbar ul li {
  text-decoration: none;
  display: inline;
  align-items: center;
  padding: 10px 20px 20px 20px;
  position: sticky;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  font-family: "Lalezar", cursive;
  font-size: 25px;
  position: relative;
}

.navbar ul li a:hover {
  color: #e1701a;
  transition: color 0.5s;
}

.navbar img {
  width: 90px;
  height: 63px;
  padding: 0px 0px 0px 50px;
  overflow: visible;
}

.sub_menu {
  display: none;
  width: 250px;
  height: 50px;
  position: absolute;
  text-align: left;
  background-color: #ffffff;
  margin-left: 50px;
  margin-top: 10px;
  z-index: 1;
}

.parent_menu:hover .sub_menu {
  display: block;
}
/* banner */

.banner {
  width: 1349px;
  height: 500px;
  background-image: url(image/home_slide.jpg);
  background-size: cover;
  position: relative;
}

.banner .banner_text {
  width: 470px;
  height: 210px;
  position: absolute;
  left: 220px;
  top: 90px;
}

.banner .banner_text h1 {
  color: white;
  font-size: 50px;
  text-align: left;
  vertical-align: middle;
  font-family: "Lalezar", cursive;
  line-height: 70px;
}

.banner a {
  display: block;
  position: absolute;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 15px 25px 15px 25px;
  font-weight: 700;
  color: white;
  border: solid white;
  border-width: 0.2px;
  background-color: transparent;
  top: 350px;
  left: 220px;
  line-height: 14px;
  text-transform: uppercase;
}

.banner img {
  display: block;
  position: absolute;
  left: 220px;
  top: 418px;
  width: 320px;
  height: 67px;
}

/* rice product */
.product {
  display: block;
}

.product .rice_product {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
  background-color: #f7d756;
  position: relative;
  height: 700px;
}

.text h2 {
  font-family: "Lalezar", cursive;
  font-weight: 500;
  font-size: 50px;
  line-height: 55px;
  color: #212121;
}

.text span {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: #212121;
  font-weight: 300;
}

.product .text a {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  font-size: 15px;
  line-height: 26px;
  color: #212121;
  font-weight: 300;
  border-style: solid;
  border-width: 0.2px;
  background-color: transparent;
  text-decoration: none;
  margin-top: 10px;
  padding: 10px 40px 10px 40px;
}

/* rice product */

.product .rice_product .text {
  width: 230px;
  height: 493px;
  padding: 160px 0px 20px 220px;
}

.product .rice_product .image_container {
  padding: 160px 50px 20px 20px;
}

.product .rice_product .image_container img {
  transform: scale(120%);
}

/* other product */
.product .other_product {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 60% 40%;
  background-color: #ff8b53;
  position: relative;
}

.product .other_product .image_container {
  padding: 90px 0px 20px 130px;
}

.product .other_product .text {
  padding: 140px 0px 20px 10px;
}

/* field image */
.product .field_image img {
  width: 100%;
}

/* menu */
.menu {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 65% 35%;
  background-color: #0db4de;
  height: 600px;
}

.menu .item img {
  padding: 50px 10px 0px 100px;
}

.menu .item2 img {
  padding: 10px 10px 0px 100px;
}

/* certificates */
.certificate {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  background-color: #f7d756;
  height: 600px;
}

.certificate .text {
  width: 512px;
  padding: 50px 0px 0px 150px;
}

.certificate .text h2 {
  font-weight: 500;
  font-size: 71px;
  line-height: 20px;
}

.certificate .image_container {
  padding: 50px 0px 0px 50px;
}

/* second banner */
.banner_temp {
  height: 800px;
  background-image: url("image/banner_organic.jpg");
  background-size: 100%;
}

.banner_temp span {
  font-family: "Lalezar", cursive;
  font-weight: 500;
  font-size: 34px;
  line-height: 37px;
  color: #ffffff;
  display: inline-block;
  width: 135px;
  padding: 270px 0px 0px 160px;
}

footer {
  display: grid;
  grid-template-columns: 60% 20% 20%;
  grid-template-rows: 30% 70%;
  background-color: #b9d01d;
  height: 300px;
}

footer .text1 h3 {
  font-family: "Lalezar", cursive;
  font-weight: 300;
  font-size: 26px;
  line-height: 26px;
  color: #212121;
}

footer .detail p {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 26px;
  color: #212121;
}

footer .list li a {
  text-decoration: none;
  font-family: "Lalezar", cursive;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: #212121;
}

footer .list ul li {
  list-style-type: none;
}

footer .list {
  padding: 10px 0px 0px 100px;
}
